[submodule "vendor/github.com/docopt/docopt-go"]
	path = vendor/github.com/docopt/docopt-go
	url = https://github.com/docopt/docopt-go.git
[submodule "vendor/github.com/jhoonb/archivex"]
	path = vendor/github.com/jhoonb/archivex
	url = https://github.com/jhoonb/archivex.git
